:root {
    --color-bg-main: #0a0e17;
    --color-bg-section: #121721;
    --color-text-heading: #ffffff;
    --color-text-body: #e0e0e0;
    --color-earth-dark: #3a50a3;
    --color-earth-light: #56c2ed;
    --color-accent: #7e57c2;
    --font-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, 
                   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
                   'Open Sans', 'Helvetica Neue', sans-serif;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    color: #ffffff;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #070724;    
    background-image: url('/src/assets/backgroundStars.svg');
}

header{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);


}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0.2% 2%;
}
header nav div ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    font-size: 10px;
    color: inherit;
    font-weight: 800;
}
li{
    padding: 2% 0;
    border-top: 2px solid;
    border-color: transparent;
}
li:hover{
    border-color:#ffffff ;
}
main{
    padding: 2% 15%;
}
main>div{
    width: 100%;
    display: flex;
    align-items: stretch ;
    justify-content: space-between;
    gap: 90px;

}
main>:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5%;
}
main>:first-child img{

    max-width: 350px;
    max-height: 350px;
}
main>:first-child>:nth-child(1){
   flex: 3;
   display: flex;
    align-items: center;
    justify-content: center;

}
main>:first-child>:nth-child(2){
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 550px;
}
main>:first-child>:nth-child(2) h1{
    color: var(--color-text-heading);
    margin-bottom: 20px;
    font-size: 75px;
    font-weight: 900;
}
main>:first-child>:nth-child(2) p{
    color: var(--color-text-body);
    font-family: League Spartan;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
}
.planetDet{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.change>div{
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    cursor: pointer;
    margin-bottom: 5%;
}
.change>div:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.change>div button{
    padding: 15px 30px;
    background: none;
    border: none;
    color: inherit;
    font-size: 13px !important;
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    
}
.change>div button>:nth-child(1){
    text-align: left;
    letter-spacing: 0.16rem;
    opacity: 0.5;
    font-size: 16px;
    margin-right: 5%;
}
.change>div button>:nth-child(2){
  flex: 2;
    text-align: left;
    font-size: 14px;
    text-wrap: nowrap;
    letter-spacing: 0.16rem;
    font-weight: 900;

}

main>:nth-child(2)>div{
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-align: left;
    cursor: pointer;
    padding: 2%;

}

.constantValues div:has(>p){
    margin-bottom: 20px;
}
.constantValues div p:nth-child(1){
    font-size: 11px;
    opacity: 0.5;
    margin-bottom: 5px;
    font-weight: 800;
}

::selection{
    background-color:#ffffff;
    color: #000000;
}

.highlight{
    background-color: var(--color);
}

.highlight:hover{
    background-color:var(--color) !important;
}
div:has(>.pin){
    position: relative;
}

.pin{
  
    position: absolute;
    top: 70%;
    max-width: 200px !important;
    max-height:200px !important;

}
